.catalog {
  display: grid;
  @include columns(1);
  gap: 48px;
  justify-content: center;

  @media (min-width:$small-screen) {
    @include columns(2);
  }

  @media (min-width:$medium-screen) {
    @include columns(3);
  }

  @media (min-width:$large-screen) {
    @include columns(4);
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
